{% extends 'base.html.twig' %}
{% block title %}Categories{% endblock %}
{% block body %}

<div class="row pb-4">
    {% for category in categories %}
        <div class="col-md-4">
            <div class="product-item text-center pt-3">
                <img src="{{ asset('uploads/images/category/' ~ category.image) }}" class="card-img-top w-35" alt="photo principale de {{ category.name }}">
                <h5 class="card-title pt-2">{{ category.name }}</h5>
                <a href="{{ path('home') }}" button type="button" class="btn btn-primary btn-sm text-white">Retour</button></a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

    
   